.admin-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-features-container {
    display: flex;
    justify-content: center;
    align-items: center;
}