.station-list-wrapper {
    width: 80%;
    margin: 0 auto;
}

.MuiTable-root .MuiTableCell-root {
    .MuiTableHead-root {
        font-weight: 600;
    }
    font-family: 'Noto Sans KR', sans-serif;
}